<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Cambiar Contraseña</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/css/style-login.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body class="login" >
        <div th:replace="plantilla/templateAdmin :: EstilosCss"></div>
        <div class="login-form">

            <form  method="post" id="FrmCambio">
                <div class="text-center">
                    <a th:href="@{/}">
                        <img th:src="@{'/img/candado.png'}" width="170" title="Ir a pagina de inicio">
                    </a>
                </div>

                <div class="form-group mt-3">
                    <input type="password"  class="form-control" name="nueva" id="nueva" placeholder="Nueva Contraseña" required="required">
                    <div id="error_nueva" style="color: #ff0000;"></div>
                </div>

                <div class="form-group mt-3">
                    <input type="password"  class="form-control" name="confirmar" id="confirmar" placeholder="Confirmar Contraseña" required="required">
                    <div id="error_confirmar" style="color: #ff0000;"></div>
                </div>

                <div class="form-group">
                    <button id="btnEnviar" type="button" class="btn btn-primary btn-lg btn-block">Cambiar Contraseña</button>
                </div>
                <div class="form-group">
                    <a th:href="@{/login}" class="btn btn-link btn-lg btn-block">Volver a Inicio Sesion</a>
                </div>
            </form>
        </div>
        <div th:replace="plantilla/templateAdmin :: script-js">

        </div>
    </body>

    <script type="text/javascript">
        $(function () {
            Validar();
            LimpiarErrorDiv();
            LimpiarErrorInput();
        });

        function ValidarCamposVacios() {
            var contador = 0;
            LimpiarErrorInput();
            LimpiarErrorDiv();

            if ($("#confirmar").val().length < 1) {
                $("#error_confirmar").html("Campo Obligatorio.");
                ColorError("confirmar");
                contador++;
            }

            if ($("#nueva").val().length < 1) {
                $("#error_nueva").html("Campo Obligatorio.");
                ColorError("nueva");
                contador++;
            }

            if ($("#confirmar").val().length >= 1 && $("#nueva").val().length >= 1) {
                if ($("#confirmar").val() !== $("#nueva").val()) {
                    $("#error_confirmar").html("Las contraseñas no coinciden.");
                    ColorError("confirmar");
                    contador++;
                }
            }

            if (contador > 0) {
                return false;
            } else {
                return true;
            }
        }

        function ColorError(dato) {
            $("#" + dato).css({
                border: "1px solid #dd5144"
            });
        }

        function ColorDefault(dato) {
            $("#" + dato).css({
                border: "1px solid #999"
            });
        }

        function LimpiarErrorInput() {
            $("#FrmCambio input").each(function () {
                var dato = $(this).attr("id");
                ColorDefault(dato);
            });
        }
        function LimpiarErrorDiv() {
            $("#FrmCambio div").each(function () {
                var dato = $(this).attr("id");
                $("#" + dato).html("");
            });
        }

        function Validar() {
            var token = "[[${token}]]";

            $.ajax({
                type: 'GET',
                url: "/validarToken",
                data: {
                    token: token
                },
                success: function (result) {
                    if (result !== "OK") {
                        bootbox.alert({
                            message: result,
                            callback: function (result) {
                                $(location).attr('href', "/recuperar");
                            }
                        });
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    if (jqXHR.status === 500) {
                        alert("Error : " + jqXHR.responseText);
                    }
                }
            });
        }

        $("#btnEnviar").on("click", function () {
            if (!ValidarCamposVacios()) {
                return false;
            }

            var nueva = $("#nueva").val();
            var confirmar = $("#confirmar").val();
            var token = "[[${token}]]";

            $.ajax({
                type: 'GET',
                url: "/reestablecer-clave",
                data: {
                    contrasenia: nueva,
                    token: token
                },
                beforeSend: function (xhr) {

                },
                success: function (result) {

                    if (result === "OK") {
                        bootbox.alert({
                            message: "Su contraseña ha sido cambiada con éxito.",
                            callback: function (result) {
                                $(location).attr('href', "/login");
                            }
                        });
                    } else {
                        Mensaje(result);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    if (jqXHR.status === 500) {
                        alert("Error : " + jqXHR.responseText);
                    } else {
                        alert("Error no se ha podido cambiar la contraseña.");
                    }
                }
            });
        });
    </script>
</html>
