<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Horarios Disponibles</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    </head>
    <style>
        a:hover {
            opacity: 0.7;
        }
    </style>

    <body class="bg-light">
        <div th:replace="plantilla/templateAdmin :: EstilosCss"></div>

        <nav th:replace="plantilla/templateAdmin :: BarraHeader"></nav>

        <div class="d-flex">
            <div th:replace="plantilla/templateAdmin :: BarraMenu"></div>

            <div class="content p-4">
                <div class="card mb-4">
                    <div class="card-header bg-white font-weight-bold">
                        <div class="bg-light p-3 mb-3">
                            <a th:href="@{/citas/medicos}" class="btn" style="background-color:  407670;color: #ffffff;" title="Ir a lista general de medicos">Ver lista de medicos</a>

                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="form-group row col-5">
                                <div class="col-md-12">
                                    <div>
                                        <label>Fecha Cita</label>
                                        <input type="date" class="form-control"  id="fechaCita" name="fechaCita" onchange="ListarHorarios()">
                                    </div>
                                    <div class="card w-85 text-center mt-3">

                                        <div class="card-block mt-2">
                                            <h4 class="card-title">Medico</h4>
                                            <p class="card-text" th:text="${medico.Cargo()}"></p>
                                            <img th:src="@{/nutricionista/verImagen/}+${medico.id_Nutricionista}"  th:if="${medico.genero=='M'}" width="160" onerror="src='../img/sin_foto_medico.png' " class="img-thumbnail">
                                            <img th:src="@{/nutricionista/verImagen/}+${medico.id_Nutricionista}" th:unless="${medico.genero=='M'}"  width="160" onerror="src='../img/sin_foto-medico-mujer.jpg' " class="img-thumbnail">
                                        </div>

                                        
                                        <div class="text-center mt-2">
                                            <a href="" class="btn btn-info" title="Ver estudios">Ver Estudios realizados</a>
                                        </div>
                                        <br>
                                    </div>

                                </div>

                            </div>

                            <div class="form-group row col-7">
                                <div class="col-md-12">
                                    <br>
                                    <div class="card  text-center">
                                        <div class="card-block mt-2">

                                            <h4 class="card-title" style="font-size: 21px; text-shadow: #555 1px 4px 8px;">Horarios Turno : <span id="nomTurno"></span></h4>
                                            <div id="horariosDisp"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </p>
                        </div>
                    </div>

                </div>

                <footer th:replace="plantilla/templateAdmin :: footer"></footer> 
            </div>

        </div>
    </body>
    <script type="text/javascript">
        $(function () {
            FechaActual();
            ListarHorarios();
        });

        function ListarHorarios() {
            var NomTurno = "[[${turno.nombre_Turno}]]";
            var idTurno = "[[${turno.id_Turno}]]";
            var medico = "[[${medico.id_Nutricionista}]]";
            var fechaCita = $("#fechaCita").val();

            $("#nomTurno").html(NomTurno);

            $.ajax({
                type: 'GET',
                url: "/citas/listarCitasHorarios",
                data: {
                    idTurno: idTurno,
                    idMedico: medico,
                    fecha: fechaCita
                }, beforeSend: function (xhr) {
                    $("#horariosDisp").html("Cargando..");
                },
                success: function (result) {
                    $("#horariosDisp").html(result);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    if (jqXHR.status === 500) {
                        alert("Error : " + jqXHR.responseText);
                    } else {
                        alert("Error inexpicable.");
                    }
                }
            });


        }

        function FechaActual() {
            var fecha = new Date();
            var dia, mes, anio;
            dia = fecha.getDate();
            mes = (fecha.getMonth() + 1);
            anio = fecha.getFullYear();
            if (dia < 10) {
                dia = "0" + dia;
            }

            if (mes < 10) {
                mes = "0" + mes;
            }

            var cadena = (anio + "-" + mes + "-" + dia);
            document.getElementById("fechaCita").value = cadena;
        }

    </script>

</html>
