<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Dieta Nutricional</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" type="image/png" th:href="@{/img/fondo-manzana.png}" />
    </head>

    <body class="bg-light">
        <div th:replace="plantilla/templateAdmin :: EstilosCss"></div>

        <nav th:replace="plantilla/templateAdmin :: BarraHeader"></nav>

        <div class="d-flex">
            <div th:replace="plantilla/templateAdmin :: BarraMenu"></div>

            <div class="content p-4">

                <div class="card mb-4">
                    <div class="card-header bg-white font-weight-bold">
                        <div class="bg-light p-3 mb-3">
                            <a th:href="@{/citas/atender/}+${idCita}" class="btn btn-success" title="Regresar a citas del paciente"> <i class="fa fa-fw fa-arrow-alt-circle-left"></i> Volver atras</a>
                        </div>
                    </div>


                </div>


                <footer th:replace="plantilla/templateAdmin :: footer"></footer> 
            </div>

        </div>

    </body>
</html>
