<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Mi Historial Medico</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" type="image/png" th:href="@{/img/fondo-manzana.png}" />
    </head>

    <body class="bg-light">
        <div th:replace="plantilla/templateAdmin :: EstilosCss"></div>

        <nav th:replace="plantilla/templateAdmin :: BarraHeader"></nav>

        <div class="d-flex">
            <div th:replace="plantilla/templateAdmin :: BarraMenu"></div>

            <div class="content p-4">

                <div class="card mb-4">
                    <div class="card-header bg-white font-weight-bold">
                        <div class="bg-light p-3 mb-3">
                            <h3 class="mt-3">Mi historia Clinica</h3>
                        </div>
                    </div>

                    <div class="card-body">
                        <div id="resultado" ></div>
                    </div>
                </div>


                <footer th:replace="plantilla/templateAdmin :: footer"></footer> 
            </div>
        </div>
    </body>

    <script type="text/javascript">
        $(function(){
           Listar(); 
        });
        function Listar() {
            $.ajax({
                type: 'GET',
                url: "/historia/listarPaciente",
                data: {},
                beforeSend: function (xhr) {
                    $("#resultado").html("Cargando..");
                },
                success: function (result) {
                    $("#resultado").html(result);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    if (jqXHR.status === 500) {
                        alert("Error : " + jqXHR.responseText);
                    } else {
                        alert("Error inexpicable.");
                    }
                }
            });
        }
    </script>
</html>
