<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Nuevo Paciente</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <style >
        .marco{
            border: 1px solid black;
            color: black;
            border-top-width: 3px;
            border-left-width: 2px;
            border-style: inset; border-width: 1px;
        }
    </style>

    <body>
        <div th:replace="plantilla/templateIndex :: EstilosCss"></div>
        <div th:replace="plantilla/templateIndex :: BarraHeader"></div>

        <div class="container mt-3 marco">
            <div class="card " >

                <div class="card-body " >
                    <br>
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Nombres</label>
                                <input type="text" class="form-control" placeholder="Nombre Completo" maxlength="40" id="nombres" name="nombres">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="inputEmail4">Apellido Paterno</label>
                                <input type="text" class="form-control" placeholder="Apellido Paterno" maxlength="40" id="nombres" name="nombres">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="inputEmail4">Apellido Materno</label>
                                <input type="text" class="form-control" placeholder="Apellido Paterno" maxlength="40" id="nombres" name="nombres">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Nombres</label>
                                <input type="text" class="form-control" placeholder="Nombre Completo" maxlength="40" id="nombres" name="nombres">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Apellido Paterno</label>
                                <input type="text" class="form-control" placeholder="Apellido Paterno" maxlength="40" id="nombres" name="nombres">
                            </div>
                        </div>
                        <div class="form-row">
                            <button type="button" class="btn btn-primary">Registrarse</button>
                        </div>

                    </form>
                    </ul>

                </div>


            </div>

        </div>
        <br>
        <footer th:replace="plantilla/templateIndex :: footer"></footer>
    </body>
</html>
