<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Mi Cita Hoy</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    </head>
    <style>
        a:hover {
            opacity: 0.7;
        }
    </style>

    <body class="bg-light">
        <div th:replace="plantilla/templateAdmin :: EstilosCss"></div>

        <nav th:replace="plantilla/templateAdmin :: BarraHeader"></nav>

        <div class="d-flex">
            <div th:replace="plantilla/templateAdmin :: BarraMenu"></div>

            <div class="content p-4">

                <div class="card mb-4">
                    <div class="card-header bg-white font-weight-bold">
                        <div class="bg-light p-3 row form-group">
                            <label  class="col-sm-2 col-form-label" style="font-size: 21px; text-shadow: #555 1px 4px 8px;">Mis Citas Hoy</label>
                            <div class="col-sm-5 bg-light">

                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div id="resultado" >
                            <div th:if="${listaCitas == null or listaCitas.empty}" class="text-center">
                                <div class="card " >
                                    <div class="card-body">
                                        <h5 class="card-title">Mis citas</h5>

                                        <p class="card-text">No se encontraron citas pendientes para este dia.</p>
                            
                                        <a th:href="@{/citas/medicos}" class="btn btn-success">Reservar cita</a>
                                    </div>
                                </div>

                            </div>
                            <div th:if="${listaCitas != null and !listaCitas.isEmpty()}">
                                <table  class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <td scope="col">Foto</td>
                                            <td scope="col">Nombre</td>
                                            <td scope="col">Apellidos</td>
                                            <td scope="col">Hora Inicio</td>
                                            <td scope="col">Hora Fin</td>
                                            <td scope="col">Estado</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="cita : ${listaCitas}">
                                            <td>
                                                <img th:src="@{/nutricionista/verImagen/}+${cita.nutricionista.id_Nutricionista}"  th:if="${cita.nutricionista.genero=='M'}" width="80" onerror="src='../img/sin_foto_medico.png' ">
                                                <img th:src="@{/nutricionista/verImagen/}+${cita.nutricionista.id_Nutricionista}" th:unless="${cita.nutricionista.genero=='M'}"  width="80" onerror="src='../img/sin_foto-medico-mujer.jpg' ">
                                            </td>
                                            <td th:text="${cita.nutricionista.nombres}"></td>
                                            <td th:text="${cita.nutricionista.apellido_Paterno} +' ' +${cita.nutricionista.apellido_Materno}"></td>
                                            <td th:text="${cita.hora.hora_Inicio}"></td>
                                            <td th:text="${cita.hora.hora_Fin}"></td>
                                            <td>
                                                <a href="javascript:void(0)" th:text="${cita.estado}" class="btn btn-info"></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>
                </div>

                <footer th:replace="plantilla/templateAdmin :: footer"></footer> 
            </div>

        </div>
    </body>
    <script type="text/javascript">
        $(function () {

        });

    </script>

</html>
