<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Administracion</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    </head>

    <body class="bg-light">
        <div th:replace="plantilla/templateAdmin :: EstilosCss"></div>

        <nav th:replace="plantilla/templateAdmin :: BarraHeader"></nav>

        <div class="d-flex">
            <div th:replace="plantilla/templateAdmin :: BarraMenu"></div>

            <div class="content p-4">

                <div class="card mb-4 ">
                    <div class="card-header font-weight-bold badge text-white" style="background-color:  #005580;">
                        <h3 class="mt-3">REPORTES</h3>
                    </div>

                    <div class="card-body">
                        <div class="row mb-4">
                            <div class="col-md">
                                <div class="d-flex border">
                                    <div class="bg-info text-light p-4">
                                        <div class="d-flex align-items-center h-100">
                                            <i class="fa fa-3x fa-fw fa-users"></i>
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 bg-white p-4">
                                        <p class="text-uppercase text-secondary mb-0">Administrador</p>
                                        <h3 class="font-weight-bold mb-0" th:text="${cantAdmin}"></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="d-flex border">
                                    <div class="bg-primary text-light p-4">
                                        <div class="d-flex align-items-center h-100">
                                            <i class="fa fa-3x fa-fw fa-user"></i>
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 bg-white p-4">
                                        <p class="text-uppercase text-secondary mb-0">Pacientes</p>
                                        <h3 class="font-weight-bold mb-0" th:text="${cantPaciente}"></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="d-flex border">
                                    <div class="bg-success text-light p-4">
                                        <div class="d-flex align-items-center h-100">
                                            <i class="fa fa-3x fa-fw fa-user-md"></i>
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 bg-white p-4">
                                        <p class="text-uppercase text-secondary mb-0">Medicos</p>
                                        <h3 class="font-weight-bold mb-0" th:text="${cantMedico}"></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="d-flex border">
                                    <div class="bg-danger text-light p-4">
                                        <div class="d-flex align-items-center h-80">
                                            <i class="fa fa-3x fa-fw fa-calendar-plus"></i>
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 bg-white p-4">
                                        <p class="text-uppercase text-secondary mb-0">Citas Pend.</p>
                                        <h3 class="font-weight-bold mb-0" th:text="${cantCitasPendiente}"></h3>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="card mb-4">
                                    <div class="card-header font-weight-bold" style="background-color:  #005580;color: white;">
                                        GRAFICA 1
                                    </div>
                                    <div class="card-body">

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card mb-4">
                                    <div class="card-header  font-weight-bold" style="background-color:  #005580;color: white;">
                                        GRAFICA 2
                                    </div>
                                    <div class="card-body">

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card mb-4">
                                    <div class="card-header  font-weight-bold" style="background-color:  #005580;"  id="headingOne">

                                        <h2 class="mb-0">
                                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"  style="color: white; text-decoration: none;font-size: 14px;font-weight: bold;">
                                                GRAFICA CITAS PENDIENTES
                                            </button>
                                        </h2>
                                    </div>

                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="col-sm-12" id="grafica1">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="card mb-4">
                                    <div class="card-header  font-weight-bold" style="background-color:  #005580;"  id="headingTwo">

                                        <h2 class="mb-0">
                                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"  style="color: white; text-decoration: none;font-size: 14px;font-weight: bold;">
                                                GRAFICA CITAS ATENDIDAS
                                            </button>
                                        </h2>
                                    </div>

                                    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="col-sm-12" id="grafica2">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>


        <footer th:replace="plantilla/templateAdmin :: footer"></footer> 
    </div>

    <script>
        $(function () {
            CargarGrafica1("Pendiente", "grafica1", 'Porcentaje de citas pendientes por mes');
            CargarGrafica1("Atendido", "grafica2", 'Porcentaje de citas atendidas por mes');
        });

        function CargarGrafica1(estado, div, titulo) {

            $.ajax({
                type: "GET",
                url: "/admin/reportexEstado",
                content: "application/json; charset=utf-8",
                dataType: "json",
                data: {
                    estado: estado
                }, beforeSend: function () {
                    $("#" + div).html("Cargando...");
                },
                success: function (resultado) {
                    var data = [];
                    for (var i in resultado) {
                        var serie = new Array(resultado[i].nombreMes, resultado[i].cantidad);
                        data.push(serie);
                    }
                    Grafica1(data, div, titulo);

                },
                error: function (xhr, textStatus, errorThrown) {
                    alert("Error al cargar datos");
                }
            }
            );
        }

        function Grafica1(resultado, div, titulo) {
            Highcharts.chart(div, {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: titulo
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                accessibility: {
                    point: {
                        valueSuffix: '%'
                    }
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                        }
                    }
                },
                series: [{
                        type: 'pie',
                        name: 'Porc Total ',
                        data: resultado
                    }]
            });
        }
    </script>
</body>
</html>
