<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Perfil</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" type="image/png" th:href="@{/img/fondo-manzana.png}" />
    </head>

    <body class="bg-light">
        <div th:replace="plantilla/templateAdmin :: EstilosCss"></div>

        <nav th:replace="plantilla/templateAdmin :: BarraHeader"></nav>

        <div class="d-flex">
            <div th:replace="plantilla/templateAdmin :: BarraMenu"></div>

            <div class="content p-4">

                <div class="card mb-4">
                    <div class="card-header bg-white font-weight-bold">
                        <div class="bg-light p-3 mb-3">

                            <h3 class="mt-3">Mi Perfil</h3>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="alert alert-danger" role="alert" id="mensajeError">
                        </div>
                        <form  id="frmRegistro" enctype="multipart/form-data" method="POST" th:object="${admin}" sec:authorize='hasAnyAuthority("Administrador")' >  
                            <div class="form-group row margin-top-10">
                                <div class="col-md-6">
                                    <label >Nombres Completos</label>
                                    <input type="text" class="form-control" id="nombres"  th:field="*{nombres}" maxlength="30">
                                </div>
                                <div class="col-md-6">
                                    <label>Fecha Nacimiento</label>
                                    <input type="date" class="form-control" id="fechaN"  name="fechaN" th:value="${admin.fecha_Nacimiento}">
                                </div>
                            </div>

                            <div class="form-group row margin-top-10">
                                <div class="col-md-6">
                                    <label >Apellido Paterno</label>
                                    <input type="text" class="form-control" id="apellido_Paterno"  th:field="*{apellido_Paterno}" maxlength="30">
                                </div>

                                <div class="col-sm">
                                    <label>Genero</label>
                                    <select class="form form-control" id="genero" th:field="*{genero}">
                                        <option value="M">Masculino</option>
                                        <option value="F">Femenino</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row margin-top-10">
                                <div class="col-md-6">
                                    <label >Apellido Materno</label>
                                    <input type="text" class="form-control" id="apellido_Materno" th:field="*{apellido_Materno}" maxlength="30">
                                </div>
                                <div class="col-md-6">
                                    <label>Foto</label>
                                    <input type="file" class="form-control" id="file" name="file">
                                </div>

                            </div>
                            <div class="form-group row margin-top-10">
                                <div class="col-md-6">
                                    <label >DNI</label>
                                    <input type="number" class="form-control" id="dni" th:field="*{dni}" maxlength="8">
                                </div>
                                <div class="col-md-6">
                                    <label>Correo</label>
                                    <input type="email" class="form-control" id="correo" th:field="*{correo}" maxlength="30">
                                </div>
                            </div>

                            <div class="form-group row margin-top-10">
                                <div class="col-md-6">
                                    <input type="hidden" th:field="*{id_Admi}" id="id_Admi">
                                    <button class="btn btn-primary" type="button" id="BtnGuardar">Guardar</button>
                                </div>
                            </div>
                        </form>

                        <form  id="frmRegistro" enctype="multipart/form-data" method="POST" th:object="${paciente}" sec:authorize='hasAnyAuthority("Paciente")' >  
                            <div class="form-group row margin-top-10">
                                <div class="col-md-6">
                                    <label >Nombres Completos</label>
                                    <input type="text" class="form-control" id="nombres"  th:field="*{nombres}" maxlength="30">
                                </div>
                                <div class="col-md-6">
                                    <label>Fecha Nacimiento</label>
                                    <input type="date" class="form-control" id="fechaN"  name="fechaN" th:value="${paciente.fecha_Nacimiento}">
                                </div>
                            </div>

                            <div class="form-group row margin-top-10">
                                <div class="col-md-6">
                                    <label >Apellido Paterno</label>
                                    <input type="text" class="form-control" id="apellido_Paterno"  th:field="*{apellido_Paterno}" maxlength="30">
                                </div>

                                <div class="col-sm">
                                    <label>Genero</label>
                                    <select class="form form-control" id="genero" th:field="*{genero}">
                                        <option value="M">Masculino</option>
                                        <option value="F">Femenino</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row margin-top-10">
                                <div class="col-md-6">
                                    <label >Apellido Materno</label>
                                    <input type="text" class="form-control" id="apellido_Materno" th:field="*{apellido_Materno}" maxlength="30">
                                </div>
                                <div class="col-md-6">
                                    <label>Foto</label>
                                    <input type="file" class="form-control" id="file" name="file">
                                </div>

                            </div>
                            <div class="form-group row margin-top-10">
                                <div class="col-md-6">
                                    <label >DNI</label>
                                    <input type="number" class="form-control" id="dni" th:field="*{dni}" maxlength="8">
                                </div>
                                <div class="col-md-6">
                                    <label>Correo</label>
                                    <input type="email" class="form-control" id="correo" th:field="*{correo}" maxlength="30">
                                </div>
                            </div>

                            <div class="form-group row margin-top-10">
                                <div class="col-md-6">
                                    <input type="hidden" th:field="*{id_Paciente}" id="id_Paciente">
                                    <button class="btn btn-primary" type="button" id="BtnGuardar">Guardar</button>
                                </div>
                            </div>
                        </form>

                        <form  id="frmRegistro" enctype="multipart/form-data" method="POST" th:object="${nutricionista}" sec:authorize='hasAnyAuthority("Nutricionista")' >  
                            <div class="form-group row margin-top-10">
                                <div class="col-md-6">
                                    <label >Nombres Completos</label>
                                    <input type="text" class="form-control" id="nombres"  th:field="*{nombres}" maxlength="30">
                                </div>
                                <div class="col-md-6">
                                    <label>Fecha Nacimiento</label>
                                    <input type="date" class="form-control" id="fechaN"  name="fechaN" th:value="${nutricionista.fecha_Nacimiento}">
                                </div>
                            </div>

                            <div class="form-group row margin-top-10">
                                <div class="col-md-6">
                                    <label >Apellido Paterno</label>
                                    <input type="text" class="form-control" id="apellido_Paterno"  th:field="*{apellido_Paterno}" maxlength="30">
                                </div>

                                <div class="col-sm">
                                    <label>Genero</label>
                                    <select class="form form-control" id="genero" th:field="*{genero}">
                                        <option value="M">Masculino</option>
                                        <option value="F">Femenino</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row margin-top-10">
                                <div class="col-md-6">
                                    <label >Apellido Materno</label>
                                    <input type="text" class="form-control" id="apellido_Materno" th:field="*{apellido_Materno}" maxlength="30">
                                </div>
                                <div class="col-md-6">
                                    <label>Foto</label>
                                    <input type="file" class="form-control" id="file" name="file">
                                </div>

                            </div>
                            <div class="form-group row margin-top-10">
                                <div class="col-md-6">
                                    <label >DNI</label>
                                    <input type="number" class="form-control" id="dni" th:field="*{dni}" maxlength="8">
                                </div>
                                <div class="col-md-6">
                                    <label>Correo</label>
                                    <input type="email" class="form-control" id="correo" th:field="*{correo}" maxlength="30">
                                </div>
                            </div>

                            <div class="form-group row margin-top-10">
                                <div class="col-md-6">
                                    <input type="hidden" th:field="*{id_Nutricionista}" id="id_Nutricionista">
                                    <button class="btn btn-primary" type="button" id="BtnGuardar">Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <footer th:replace="plantilla/templateAdmin :: footer"></footer> 
            </div>

        </div>

        <script type="text/javascript">
            $(function () {
                $("#mensajeError").hide();
            });

            function CargaDiv() {
                if ($("#mensajeError").is(":visible")) {
                    $("#mensajeError").hide();
                } else {
                    $("#mensajeError").show();
                }
            }
            $("#BtnGuardar").on("click", function () {
                var form = new FormData(document.getElementById("frmRegistro"));

                $.ajax({
                    type: 'POST',
                    url: "/" + Perfil() + "/guardar",
                    data: form,
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (data, status, xhr) {

                        if (xhr.status === 202) {
                            var cadena = " ";
                            for (var i in data) {
                                cadena += "." + data[i].mensaje + "<br>";
                            }

                            $("#mensajeError").html(cadena);
                            $("#mensajeError").show();
                        } else {
                            if (data === "OK") {
                                Mensaje("Datos actualizados correctamente..!!");
                                $("#file").val("");
                                CargaImagen();
                                CargarDatos();
                                $("#mensajeError").hide();
                            } else {
                                Mensaje(data);
                            }
                        }
                    }
                    , error: function (xhr, status, errMsg) {
                        Mensaje(xhr.responseText);
                    }
                });
            });

            function Perfil() {
                perfilLogeado = perfilLogeado.toLowerCase();

                if (perfilLogeado === "administrador") {
                    return "admin";
                } else if (perfilLogeado === "nutricionista") {
                    return "nutricionista";
                } else {
                    return "paciente";
                }
            }
        </script>


    </body>
</html>