<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="icon" type="image/png" th:href="@{/img/fondo-manzana.png}" />
    </head>
    <body>
      
        <div class="container">
            <h2>Hola ${nombre}</h2>
            <h3>Motivo : ${motivo}</h3>
            <h3>Hemos encontrado que deseas recuperar tu contraseña</h3>
        
            <br>
            <a href="javascript:Men()" class="btn btn-success" title="Recuperar">Recuperar Contraseña</a>
        </div>
    </body>
    <script type="text/javascript">
        function Men() {
            alert("Hola click correcto");
        }
    </script>

</html>
