<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Staff - Medicos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" th:href="@{/img/fondo-manzana.png}" />
    </head>

    <body>
        <div th:replace="plantilla/templateIndex :: EstilosCss"></div>
        <div th:replace="plantilla/templateIndex :: BarraHeader"></div>
        <style type="text/css">
            a:hover {
                opacity: 0.7;
            }

            .ocultar{
                pointer-events: none;
            }

        </style>
        <div class="site-section">
            <div class="container">
                <div class="text-center">
                    <div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.3s">
                        <h2>Staff Médico</h2>
                    </div>
                    <div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.6s">
                        <p>Esta especialidad se encarga de recetar la dieta óptima, según la necesidad de cada paciente, de acuerdo a su metabolismo y tipo de alimentos.</p>
                    </div>

                    <div class="wow fadeInRight" data-wow-offset="0" data-wow-delay="0.3s">


                        <div class="card col-md-4"   th:each="n : ${medicos}">

                            <div class="card-body">
                                <div class="card" style="width: 30rem;color: black;">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <img th:src="@{/nutricionista/verImagen/}+${n.id_Nutricionista}"  th:if="${n.genero=='M'}"
                                                 alt="" class="img-circle"  width="220" height="220" onerror="src='../img/sin_foto_medico.png' ">
                                            <img th:src="@{/nutricionista/verImagen/}+${n.id_Nutricionista}" th:unless="${n.genero=='M'}"
                                                 alt="" class="img-circle"  width="220" height="220" onerror="src='../img/sin_foto-medico-mujer.jpg' ">

                                        </li>
                                        <li class="list-group-item"  th:text="${n.Cargo()}">
                                        </li>
                                        <li class="list-group-item">
                                            <a href="#" class="btn btn-primary btn-lg btn-block" style="background-color: #008CBA;">Estudios</a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-right:auto;">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <nav aria-label="Page navigation " >
                                <li class="page-item disabled">

                                    <ul class="pagination justify-content-center paginacion " style="color: black;" >
                                        <li class="page-item " th:classappend="${anterior == 0?'ocultar':' ' }">
                                            <a th:href="@{|/staff?page=${anterior}|}">Anterior</a>
                                        </li>

                                        <li class="page-item" th:each='page : ${pages}' th:classappend="${actual==page?'active':' ' }">
                                            <a class="page-link" th:href="@{|/staff?page=${page}|}" th:text='${page}' ></a>
                                        </li>

                                        <li class="page-item" th:classappend="${actual == ultimo?'ocultar':' ' }" >
                                            <a th:href="@{|/staff?page=${siguiente}|}" >Siguiente</a>
                                        </li>
                                    </ul>
                            </nav>
                        </div>
                        <div class="col-md-2"></div>
                    </div>

                </div>


            </div>
        </div>


        <br>
        <footer th:replace="plantilla/templateIndex :: footer"></footer>
    </body>
</html>
