<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Plantilla Base</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    </head>

    <body>
        <div th:fragment="EstilosCss">
            <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">

            <link th:href="@{/bootbox/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
            <link th:href="@{/bootbox/animate.min.css}" rel="stylesheet" type="text/css"/>

            <link th:href="@{/css/fontawesome-all.min.css}"  rel="stylesheet" >
            <link th:href="@{/css/datatables.min.css}" rel="stylesheet">
            <link th:href="@{/css/fullcalendar.min.css}" rel="stylesheet">
            <link th:href="@{/css/bootadmin.min.css}" rel="stylesheet">

        </div>
        <!-- Barra Header-->
        <nav class="navbar navbar-expand navbar-dark " th:fragment = "BarraHeader" style="background: #005593;">
            <a class="sidebar-toggle mr-3" href="#"><i class="fa fa-bars"></i></a>
     
            <a class="navbar-brand"  sec:authorize='hasAnyAuthority("Administrador")'  th:href="@{/admin/reporte}">Sistema Nutricion</a>
            <a class="navbar-brand"  sec:authorize='hasAnyAuthority("Paciente")'   th:href="@{/citas/CitaHoy}">Sistema Nutricion</a>
            <a class="navbar-brand"  sec:authorize='hasAnyAuthority("Nutricionista")'  th:href="@{/citas/Pendientes-Paciente}">Sistema Nutricion</a>

            <div class="navbar-collapse collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a href="#" id="dd_user" class="nav-link dropdown-toggle" data-toggle="dropdown" th:src="@{/logeadoNombre}"><i class="fa fa-user"></i> <span id="nombreCompletos">Usuario</span></a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd_user">
                            <a href="#" class="dropdown-item">Perfil</a>
                            <form th:action="@{/logout}" method="post" onsubmit="return CerrarSesion()"  id="frmCerrar">
                                <a href="javascript:void(0)"   th:attr="onclick='javascript:return CerrarSesion()' "   class="dropdown-item">Cerrar Sesion</a>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- End Barra Header-->

        <!-- Barra Menu-->
        <div class="sidebar sidebar-dark bg-dark" th:fragment="BarraMenu">
            <ul class="list-unstyled">

                <li>
                    <div class="card text-center bg-dark text-white">
                        <a href="#"  style="font-size: 15px;">PERFIL</a>
                        <a href="#" th:text="${#authentication.getPrincipal().getAuthorities()}" style="font-size: 15px;"></a>
                        <!--
                           <a href="#" th:text="${#authentication.getPrincipal().getUsername()}" style="font-size: 15px;">
                        -->
                        </a>
                        <div class="text-center">
                            <!-- th:src="@{/verImagenLogeado}"  -->
                            <img  id="ImagenLogeado"  width="100" height="110" style="border-radius: 50%;border-color: #008CBA;">
                        </div>
                    </div>
                </li>
                <li  sec:authorize='hasAnyAuthority("Administrador")'      
                     th:classappend="(${#httpServletRequest.requestURI} == '/admin/')?'active':'' ">
                    <a th:href="@{/admin/}"><i class="fa fa-fw fa-table"></i> Administradores</a>
                </li>

                <li  sec:authorize='hasAnyAuthority("Administrador" )'>
                    <a href="#sm_base" data-toggle="collapse">
                        <i class="fa fa-fw fa-users"></i> Nutricionista
                    </a>
                    <ul id="sm_base" class="list-unstyled collapse" >
                        <li  th:classappend="(${#httpServletRequest.requestURI} == '/nutricionista/')?'active':'' ">
                            <a th:href="@{/nutricionista/}"><i class="fa fa-fw fa-table"></i> Mantenimiento</a>
                        </li>
                        <li  th:classappend="(${#httpServletRequest.requestURI} == '/nutricionista/horarios')?'active':'' ">
                            <a th:href="@{/nutricionista/horarios}"><i class="fa fa-fw fa-table"></i> Asignar Horarios</a>
                        </li>
                    </ul>
                </li>

                <li  sec:authorize='hasAnyAuthority("Administrador")' th:classappend="(${#httpServletRequest.requestURI} == '/contextura/')?'active':'' ">
                    <a th:href="@{/contextura/}"><i class="fa fa-fw fa-child"></i> Contextura</a>
                </li>

                <li sec:authorize='hasAnyAuthority("Paciente")'  th:classappend="(${#httpServletRequest.requestURI} == '/citas/medicos')?'active':'' ">
                    <a th:href="@{/citas/medicos}"><i class="fa fa-fw fa-table"></i> Reservar Cita</a>
                </li>
                <li sec:authorize='hasAnyAuthority("Paciente")'  th:classappend="(${#httpServletRequest.requestURI} == '/citas/pendientes')?'active':'' ">
                    <a th:href="@{/citas/pendientes}"><i class="fa fa-calendar-plus"></i>  Mis Citas</a>
                </li>

                <li  sec:authorize='hasAnyAuthority("Administrador" , "Nutricionista")'  th:classappend="(${#httpServletRequest.requestURI} == '/paciente/')?'active':'' ">
                    <a th:href="@{/paciente/}"><i class="fa fa-fw fa-user"></i> Pacientes</a>
                </li>
                    <li  sec:authorize='hasAnyAuthority( "Nutricionista")'  th:classappend="(${#httpServletRequest.requestURI} == '/citas/Pendientes-Paciente')?'active':'' ">
                    <a th:href="@{/citas/Pendientes-Paciente}"><i class="fa fa-calendar-plus"></i> Citas Pendientes</a>
                </li>
                
                  <li  sec:authorize='hasAnyAuthority("Administrador" )'  th:classappend="(${#httpServletRequest.requestURI} == '/admin/reporte')?'active':'' ">
                    <a th:href="@{/admin/reporte}"><i class="fa fa-fw fa-pie-chart"></i>Reportes</a>
                </li>
            </ul>
        </div>
        <!-- End Barra Menu-->

        <footer th:fragment="footer" class="bg-dark text-white text-center fixed-bottom" >
            <div class="container">
                <p>Copyright &copy; Desarrollo de Software I  - 2020</p>
            </div>
            <script th:src="@{/js/jquery.min.js}"></script>
            <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
            <script th:src="@{/js/datatables.min.js}"></script>
            <script th:src="@{/js/moment.min.js}"></script>
            <script th:src="@{/js/fullcalendar.min.js}"></script>
            <script th:src="@{/js/bootadmin.min.js}"></script>
            <script th:src="@{/js/funciones/Logout.js}"></script>

            <script th:src="@{/bootbox/bootbox.min.js}" type="text/javascript"></script>
            <script th:src="@{/js/funciones/Alerta.js}" type="text/javascript"></script>

            <script th:src="@{/js/highcharts.js}" type="text/javascript"></script>
            <script th:src="@{/js/exporting.js}" type="text/javascript"></script>
            <script type="text/javascript">
                $(function () {
                    CargarDatos();

                });

                function CargarDatos() {
                    $.ajax({
                        type: 'GET',
                        url: "/datosUsuario",
                        data: {},
                        success: function (data) {
                            CargaImagen();
                            $("#nombreCompletos").html(data.nombres + " " + data.apellido_Paterno + " " + data.apellido_Materno);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            if (jqXHR.status === 500) {
                                console.log("Error : " + jqXHR.responseText);
                            } else {
                                console.log("Error inexpicable.");
                            }
                        }
                    });
                }

                function CargaImagen() {
                    $.ajax({
                        type: 'GET',
                        url: "/VerImagenAjaxLogeado",
                        contentType: 'application/json',
                        data: {},
                        success: function (data) {

                            try {
                                if (data.trim().length > 0) {
                                    $("#ImagenLogeado").attr("src", "data:image/[^;]+;base64," + data.trim());
                                } else {
                                    $("#ImagenLogeado").attr("src", "[[@{/img/Sinfoto-user.jpg}]]");
                                }
                            } catch (e) {
                            }
                        },
                        complete: function (xhr, textStatus) {
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            $("#ImagenLogeado").attr("src", "[[@{/img/Sinfoto-user.jpg}]]");
                        }
                    });
                }

            </script>
        </footer>

        <div th:fragment='script-js'>
            <script th:src="@{/js/index/jquery-2.1.1.min.js}"></script>
            <script th:src="@{/js/jquery.min.js}"></script>
            <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
            <script th:src="@{/bootbox/bootbox.min.js}" type="text/javascript"></script>
            <script th:src="@{/js/funciones/Alerta.js}" type="text/javascript"></script>
        </div>
    </body>
</html>
