<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <body >
        <table id="example" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <td scope="col">Foto</td>
                    <td scope="col">Nombre</td>
                    <td scope="col">Apellidos</td>
                    <td scope="col">DNI</td>
                    <td scope="col">Fecha Nac.</td>
                    <td scope="col">Correo</td>
                    <td scope="col">Genero</td> 
                </tr>
            </thead>
            <tbody>

                <tr th:each="admin : ${listado}">
                    <td> <img th:src="@{/admin/verImagen/}+${admin.id_Admi}" width="80"
                              onerror="src='../img/sin_imagen.png' "></td>
                    <td th:text="${admin.nombres}"></td>
                    <td th:text="${admin.apellido_Paterno} +' ' +${admin.apellido_Materno}"></td>
                    <td th:text="${admin.dni}"></td>
                    <td th:text="${#dates.format(admin.fecha_Nacimiento, 'dd-MM-yyyy')}"></td>
                    <td th:text="${admin.correo}"></td>
                    <td th:text="${admin.genero=='M'?'Masculino':'Femenino' }"></td> 
                </tr>
            </tbody>
        </table>
    </body>


    <script>
        $(document).ready(function () {
            var table = $('#example').DataTable({
                language: {
                    "lengthMenu": "Mostrar _MENU_ registros",
                    "zeroRecords": "No se encontraron resultados",
                    "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sSearch": "Buscar:",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "sProcessing": "Procesando...",
                },
                //para usar los botones   

                responsive: "true"
            });
        });
    </script>

</html>
