<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <body >
        <table id="example" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <td scope="col">Foto</td>
                    <td scope="col">Nombre</td>
                    <td scope="col">Apellidos</td>
                    <td scope="col">DNI</td>
                    <td scope="col">Fecha Nac.</td>
                    <td scope="col">Correo</td>
                    <td scope="col">Genero</td> 
                </tr>
            </thead>
            <tbody>

                <tr th:each="paciente : ${listaPacientes}">

                    <td> 
                        <img th:src="@{/paciente/verImagen/}+${paciente.id_Paciente}"  th:if="${paciente.genero=='M'}" width="80" onerror="src='../img/sin_foto_medico.png' ">
                        <img th:src="@{/paciente/verImagen/}+${paciente.id_Paciente}" th:unless="${paciente.genero=='M'}"  width="80" onerror="src='../img/sin_foto-medico-mujer.jpg' ">
                    </td>

                    <td th:text="${paciente.nombres}"></td>
                    <td th:text="${paciente.apellido_Paterno} +' ' +${paciente.apellido_Materno}"></td>
                    <td th:text="${paciente.dni}"></td>
                    <td th:text="${#dates.format(paciente.fecha_Nacimiento, 'dd-MM-yyyy')}"></td>
                    <td th:text="${paciente.correo}"></td>
                    <td th:text="${paciente.genero=='M'?'Masculino':'Femenino' }"></td> 
                </tr>
            </tbody>
        </table>
    </body>


    <script>
        $(document).ready(function () {
            var table = $('#example').DataTable({
                language: {
                    "lengthMenu": "Mostrar _MENU_ registros",
                    "zeroRecords": "No se encontraron resultados",
                    "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sSearch": "Buscar:",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "sProcessing": "Procesando...",
                },
                //para usar los botones   

                responsive: "true"
            });
        });
    </script>

</html>
