<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <body >
        <table id="example" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <td scope="col">Foto</td>
                    <td scope="col">Nombre</td>
                    <td scope="col">Apellidos</td>
                    <td scope="col">DNI</td>
                    <td scope="col">Fecha Nac.</td>
                    <td scope="col">Correo</td>
                    <td scope="col">Genero</td> 
                    <td scope="col">Estado</td>
                    <td scope="col">Accion</td>
                </tr>
            </thead>
            <tbody>

                <tr th:each="medico : ${listaMedicos}">
                    <td> 
                        <img th:src="@{/nutricionista/verImagen/}+${medico.id_Nutricionista}"  th:if="${medico.genero=='M'}" width="80" onerror="src='../img/sin_foto_medico.png' ">
                        <img th:src="@{/nutricionista/verImagen/}+${medico.id_Nutricionista}" th:unless="${medico.genero=='M'}"  width="80" onerror="src='../img/sin_foto-medico-mujer.jpg' ">
                    </td>
                    <td th:text="${medico.nombres}"></td>
                    <td th:text="${medico.apellido_Paterno} +' ' +${medico.apellido_Materno}"></td>
                    <td th:text="${medico.dni}"></td>
                    <td th:text="${#dates.format(medico.fecha_Nacimiento, 'dd-MM-yyyy')}"></td>
                    <td th:text="${medico.correo}"></td>
                    <td th:text="${medico.genero=='M'?'Masculino':'Femenino' }"></td> 

                    <td>
                        <button th:if="${medico.usuario.estado==1}"  class="btn btn-info" 
                                th:attr="onclick='CambiarEstado('+${medico.id_Nutricionista} +', 0,\' '  +${medico.nomCompletos()}+ '\'  )' " >Activo</button>
                        <button th:unless="${medico.usuario.estado==1}"  class="btn btn-danger"
                                th:attr="onclick='CambiarEstado('+${medico.id_Nutricionista} +', 1,\' '  +${medico.nomCompletos()}+ '\'  )' " >Inactivo</button>
                    </td>
                    <td>
                        <a href="javascript:void(0)"  th:attr="onclick='BuscarPorId( ' + ${medico.id_Nutricionista} + ')'"  class="btn btn-icon btn-pill btn-primary" data-toggle="tooltip" title="Editar"><i class="fa fa-fw fa-edit"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>


    <script>
        $(document).ready(function () {
            var table = $('#example').DataTable({
                language: {
                    "lengthMenu": "Mostrar _MENU_ registros",
                    "zeroRecords": "No se encontraron resultados",
                    "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sSearch": "Buscar:",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "sProcessing": "Procesando...",
                },
                //para usar los botones   

                responsive: "true"
            });
        });
    </script>

</html>
