<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <body >
        <table id="example" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <!--    <td scope="col">Id</td> -->
                    <td scope="col">Alimento</td>
                    <td scope="col">Calorias</td>
                    <td scope="col">Carbohidratos</td>
                    <td scope="col">Proteinas</td>
                    <td scope="col">Grasas</td>
                    <td scope="col">Fibra</td>
                    <td class="actions" scope="col" sec:authorize='hasAnyAuthority("Administrador" )' >Acciones</td>
                </tr>
            </thead>
            <tbody>

                <tr th:each="dato : ${listado}">
                    <td th:text="${dato.nombre_Alimento}"></td>
                    <td th:text="${dato.calorias}"></td>
                    <td th:text="${dato.carbohidratos}"></td>
                    <td th:text="${dato.proteinas}"></td>
                    <td th:text="${dato.grasas}"></td>
                    <td th:text="${dato.fibra}"></td>
                    <td sec:authorize='hasAnyAuthority("Administrador" )' >
                        <a href="javascript:void(0)"  th:attr="onclick='BuscarPorId( ' + ${dato.id_Alimento} + ')'"   class="btn btn-primary" data-toggle="tooltip" title="Editar"><i class="fa fa-fw fa-edit"></i> Editar</a>
                        <!--
                               <a href="#" class="btn btn-icon btn-pill btn-danger" data-toggle="tooltip" title="Delete"><i class="fa fa-fw fa-trash"></i></a>
                        -->
                    </td>
                </tr>
            </tbody>
        </table>
    </body>


    <script>
        $(document).ready(function () {
            var table = $('#example').DataTable({
                language: {
                    "lengthMenu": "Mostrar _MENU_ registros",
                    "zeroRecords": "No se encontraron resultados",
                    "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sSearch": "Buscar:",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "sProcessing": "Procesando...",
                },
                //para usar los botones   
                responsive: "true",
                dom: 'Blfrtip',
                buttons: [
                    {
                        extend: 'excelHtml5',
                        text: 'Excell ',
                        title: "Reporte de alimentos",
                        titleAttr: 'Exportar a Excel',
                        className: 'btn btn-success mb-3',
                        exportOptions: {
                            // columns: [0, 1, 2, 3, 4, 5, 6, 7]
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        text: 'PDF ',
                        title: "Reporte de alimentos",
                        titleAttr: 'Exportar a PDF',
                        className: 'btn btn-danger mb-3',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'print',
                        text: 'Imprimir ',
                        title: "Reporte de alimentos",
                        titleAttr: 'Imprimir',
                        className: 'btn btn-info mb-3',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'colvis',
                        text: 'Filtrar ',
                        titleAttr: 'Imprimir',
                        className: 'btn btn-primary mb-3',
                        exportOptions: {
                            columns: ':visible'
                        }
                    }
                ]
            });
        });
    </script>

</html>
