<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <body >

        <table id="example" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <td scope="col">Foto </td>
                    <td scope="col">Nro Cita</td>
                    <td scope="col">Nombre</td>
                    <td scope="col">Apellidos</td>
                    <td scope="col">Hora Inicio</td>
                    <td scope="col">Hora Fin</td>
                    <td scope="col">Estado</td>
                    <td scope="col">Cita</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cita : ${listaCitas}">
                    <td>
                        <img th:src="@{/paciente/verImagen/}+${cita.paciente.id_Paciente}"  th:if="${cita.paciente.genero=='M'}" width="80" onerror="src='../img/sin_foto-paciente-hombre.jpg' ">
                        <img th:src="@{/paciente/verImagen/}+${cita.paciente.id_Paciente}" th:unless="${cita.paciente.genero=='M'}"  width="80" onerror="src='../img/sin_foto-paciente-mujer.jpg' ">
                    </td>
                    <td th:text="${cita.id_Cita}"></td>
                    <td th:text="${cita.paciente.nombres}"></td>
                    <td th:text="${cita.paciente.apellido_Paterno} +' ' +${cita.paciente.apellido_Materno}"></td>
                    <td th:text="${cita.hora.hora_Inicio}"></td>
                    <td th:text="${cita.hora.hora_Fin}"></td>
                    <td>
                        <a th:href="@{/citas/atender/}+${cita.id_Cita}" class="btn btn-info">Atender</a>
                    </td>
                    <td>
                        <a  href="javascript:void(0)"  th:attr="onclick='ModificarCita( ' + ${cita.id_Cita} + ')'"   class="btn btn-primary">Modificar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>


    <script>
        $(document).ready(function () {
            var table = $('#example').DataTable({
                language: {
                    "lengthMenu": "Mostrar _MENU_ registros",
                    "zeroRecords": "No se encontraron resultados",
                    "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sSearch": "Buscar:",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "sProcessing": "Procesando...",
                },
                //para usar los botones   

                responsive: "true",
                dom: 'Blfrtip',
                buttons: [
                    {
                        extend: 'excelHtml5',
                        text: 'Excell ',
                        title: "Reporte de citas pendientes",
                        titleAttr: 'Exportar a Excel',
                        className: 'btn btn-success mb-3',
                        exportOptions: {
                            // columns: [0, 1, 2, 3, 4, 5, 6, 7]
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        text: 'PDF ',
                        title: "Reporte de citas pendientes",
                        titleAttr: 'Exportar a PDF',
                        className: 'btn btn-danger mb-3',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'print',
                        text: 'Imprimir ',
                        title: "Reporte de citas pendientes",
                        titleAttr: 'Imprimir',
                        className: 'btn btn-info mb-3',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'colvis',
                        text: 'Filtrar ',
                        titleAttr: 'Imprimir',
                        className: 'btn btn-primary mb-3',
                        exportOptions: {
                            columns: ':visible'
                        }
                    }
                ]
            });
        });
    </script>

</html>
